<body class="main-layout">

   
   <div id="about" class="about">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12 col-lg-7">
               <div class="about_box">
                  <div class="titlepage">
                    <br> <h2><strong class="yellow">Acerca de</strong><br> Podemos ayudarte con cualquier reparación</h2>
                  </div>
                  <h3>También ofrecemos varios tipos de celulares</h3>
                  <span>¿Necesitas ayuda con tu equipo? Contáctanos ya.</span>
                  <p>Somos una empresa fundada en Ciudad Valles. Comercializamos refacciones para celulares y herramientas con un equipo profesional que garantiza atención personalizada y seguimiento a tus compras.</p>
                  <button (click)="cotizar()" type="button" class="btn btn-success"  >cotiza ahora mismo</button>
                  
               </div>
            </div>
            <div class="col-md-12 col-lg-5">
               <div id="carouselExample" class="carousel slide">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="assets/CLAN FIX.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/Diseño sin título.png" class="d-block w-100" alt="...">
                    </div>
                    
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
            </div>
         </div>
      </div>
   </div>
   <app-about></app-about>
   
</body>
