<header>
  <!-- Sección superior con redes sociales y cambio de idioma -->
  <div class="header_to d_none">
    <h1>"¡No pierdas tiempo! Canflix tiene la solución para tu celular."</h1>
  </div>
  
  <!-- Parte del logo y contacto -->
  <div class="header_midil">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <ul class="conta_icon list-unstyled mb-0">
            <li><a href="tel:+524811529587"><i class="fa fa-phone"></i> Llama al: +52 481 152 9587</a></li>
          </ul>
        </div>
        <div class="col-md-4 text-center">
        <img src="assets/logo.png" alt="Logo" />
        </div>
        <div class="col-md-4 text-right">
          <ul class="conta_icon list-unstyled mb-0">
            <li><a href="mailto:guirachipro&#64;gmail.com"><i class="fa fa-envelope"></i> guirachipro&#64;gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
