<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
   
</head>
<body class="main-layout">

    <!-- Sección del banner principal -->
    <div class="container">
        <div class="row">
          <!-- Tarjeta a la izquierda -->
          <div class="col-4 d-flex justify-content-start mb-3">
            <div class="card" style="width: 18rem;">
              <img src="assets/CEL1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Control de Inventario: Mantener un registro actualizado del stock de piezas es esencial para saber qué piezas están disponibles y cuáles necesitan ser reabastecidas. Esto también ayuda a evitar pérdidas y asegurarse de no quedarte sin piezas esenciales.</p>
              </div>
            </div>
          </div>
      
          <!-- Tarjeta al centro -->
          <div class="col-4 d-flex justify-content-center mb-3">
            <div class="card" style="width: 18rem;">
              <img src="assets/Diseño sin título.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">En Clanfix, entendemos que la calidad del servicio no solo depende de la habilidad técnica, sino también del ambiente en el que trabajamos. Es por eso que mantenemos un lugar de trabajo limpio y organizado para asegurar que cada reparación se realice con la máxima precisión y eficiencia.
    
                  ¿Por qué un lugar de trabajo limpio y organizado es clave en Clanfix?</p>
              </div>
            </div>
          </div>
      
          <!-- Tarjeta a la derecha -->
          <div class="col-4 d-flex justify-content-end mb-3">
            <div class="card" style="width: 18rem;">
              <img src="assets/Clan2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">En Clanfix, somos expertos en la reparación de celulares de todas las marcas y modelos. Ya sea que tu dispositivo sea un iPhone, Samsung, Huawei, Xiaomi o cualquier otra marca, tenemos las piezas de repuesto originales y de alta calidad para garantizar que tu celular vuelva a funcionar como nuevo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <app-about></app-about>
</body>
</html>
