<body class="main-layout">
   <!-- loader  -->
   <!-- end loader -->
   <!-- header -->
   <header>
      <!-- header inner -->
      <div class="header">
         
         <div class="header_midil">
            <div class="container">
               <div class="row d_flex">
                  
               </div>
            </div>
         </div>
         <div class="header_bo">
            <div class="container">
               <div class="row">
                  <div class="col-md-9 col-sm-7">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="index.html"> Inicio  </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="about.html">Acerca</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="service.html">Servicios</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="team.html">Dispositivos </a>
                              </li>
                              <li class="nav-item">
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- end header inner -->
   <!-- end header -->

   <!-- service section -->
   <div id="service" class="service">
      <div class="container">
         <div class="row">
            <div class="col-md-7">
               <div class="titlepage">
                  <h2><strong class="yellow">Servicios</strong><br>Ponemos a tu disposición nuestros servicios</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 col-sm-6">
               <div id="ho_color" class="service_box">
                  <img src="assets/MANO.png" alt="#"/>
                  <h3>MANTENIMIENTO</h3>
                  <p> Mantenimiento de celulares y otros dispositivos electronicos </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div id="ho_color" class="service_box">
                  <img src="assets/ROTO.png" alt="#"/>
                  <h3>PANTALLAS ESTRELLADAS</h3>
                  <p>Reparacion de pantallas estrelladas o por cualquier fallo </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div id="ho_color" class="service_box">
                  <img src="assets/CEL1.png" alt="#"/>
                  <h3>REPARACION</h3>
                  <p>Reparacion de diferentes marcas de celulares, para mas informes contactenos </p>
               </div>
            </div>
            </div>
            <div class="col-md-12">
               <a class="read_more" href="#"></a>
            </div>
         </div>
      </div>
   
   
   <!-- service section -->

   <!--  footer -->
   <app-about></app-about>
   <!-- end footer -->
   <!-- Javascript files-->
   <script src="js/jquery.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/jquery-3.0.0.min.js"></script>
   <script src="js/owl.carousel.min.js"></script>
   <!-- sidebar -->
   <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="js/custom.js"></script>
</body>