<body class="main-layout">
   
    <div id="team" class="team">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="titlepage">
                   <h2><strong class="yellow">Dispositivos</strong><br>Selecciona las diferentes marcas que tenemos para ti al igual que Herramientas y Centros de carga.</h2>
                   <p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                      Refacciones
                    </button>
                  </p>
                  <div style="min-height: 120px;">
                    <div class="collapse collapse-horizontal" id="collapseWidthExample">
                      <div class="card card-body" style="width: 300px;">
                        Ofrecemos refacciones de diferentes modelos de celulares 
                      </div>
                    </div>
                  </div>
                </div>
             </div>
          </div>  
       </div>
       <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
       <div id="carouselExample" class="carousel slide" >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/APPLE1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/APP1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/APP2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/APP3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/APP4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/APP5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/APP6.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/APP7.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/APP8.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/HUAWEI1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/HUA1.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/HUA2.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/HUA3.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/MOTOROLA1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/MOTO1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/MOTO2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/MOTO3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/XIAOMI1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/XIA1.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/XIA2.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/XIA3.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/SAMSUNG1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/SAM1.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/SAM2.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/SAM3.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/HUA3.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/centros11.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/CEN1.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/CEN2.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/CEN4.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/HERRAMIENTAS11.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/HERR1.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/HERR2.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/HERR3.JPG" class="d-block w-100" alt="...">
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>       
    </div>
    <footer>
      <app-about></app-about>
    </footer>
    
 